{% extends 'app.html' %}
{% load static %}
{% load i18n %}
{% block title %}{% translate "Site Visits" %}{% endblock title %}
{% block content %}


{% translate "Site Visits" as promo_title%}

{% with promo_image=site_visit_promo_image.url %}
{% include "components/promo.html" with promo_image=promo_image promo_title=promo_title %}
{% endwith %}

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-xl-10">
                <h4 class="elements__title">{{promo_title}}</h4>
            </div>
        </div>
        <div class="row offset-margin">
            {% for visit in visits %}
            <div class="col-md-6 col-xl-4">
                {% include "components/visit.html" with visit=visit %}
            </div>
            {% endfor %}
            
        </div>
        <div class="row top-70">
            <div class="col-12">
                {% include "components/pagination.html" with pagination=visits %}
            </div>
        </div>
    </div>
</section>
{% endblock content %}