{% load query_transform %} 
{% if pagination.paginator.num_pages > 1 %}
<ul class="pagination pagination--with-bg pagination--rounded">
  {% if pagination.has_previous %}
  <li class="pagination__item pagination__item--prev">
    <a href="?{% query_transform page='1' %}"
      ><i class="fa fa-angle-left" aria-hidden="true"></i
        ><i class="fa fa-angle-left" aria-hidden="true"></i
          ></a>
  </li>
  <li class="pagination__item pagination__item--prev">
    <a href="?{% query_transform page=pagination.previous_page_number %}"
      ><i class="fa fa-angle-left" aria-hidden="true"></i
    ></a>
  </li>
  {% endif %} 
  {% for num in pagination.paginator.page_range %} 
  {% if num > pagination.number|add:-3 and num < pagination.number|add:3 or num == pagination.paginator.num_pages or num == 1 %}
  <li
    class="pagination__item {% if num == pagination.number %}pagination__item--active{% endif %}"
  >
    <a href="?{% query_transform page=num %}"><span>{{num}}</span></a>
  </li>
  {% elif num > pagination.number|add:-4 and num < pagination.number|add:4 %}
  <li
    class="pagination__item {% if num == pagination.number %}pagination__item--active{% endif %}"
  >
    <a href="javascript:void(0)">...</a>
  </li>
  {% endif %} 
  {% endfor %} 
  {% if pagination.has_next %}
  <li class="pagination__item pagination__item--next">
    <a href="?{% query_transform page=pagination.next_page_number %}"
      ><i class="fa fa-angle-right" aria-hidden="true"></i
    ></a>
  </li>
  <li class="pagination__item pagination__item--next">
    <a href="?{% query_transform page=pagination.paginator.num_pages %}"
      ><i class="fa fa-angle-right" aria-hidden="true"></i
        ><i class="fa fa-angle-right" aria-hidden="true"></i
          ></a>
  </li>
  {% endif %}
</ul>
{% endif %}
